:root {
    --filters: invert(50%) sepia(99%) saturate(1536%) hue-rotate(161deg) brightness(103%) contrast(108%);
    --filter-temperature: invert(12%) sepia(92%) saturate(6483%) hue-rotate(1deg) brightness(101%) contrast(114%);
    --filter-humidity: invert(12%) sepia(100%) saturate(6324%) hue-rotate(228deg) brightness(103%) contrast(105%);
    --filter-pressure: invert(87%) sepia(95%) saturate(4532%) hue-rotate(40deg) brightness(91%) contrast(91%);
    --main-color: deepskyblue;
    --temperature-color: #ff0000;
    --humidity-color: #0044ff;
    --pressure-color: #71e632;
    --data-img-height: 22px; 
    --data-img-margin-top: 0px; 
    --data-img-margin-left: 0px;
    --data-txt-font-size: 32px;
    --data-txt-margin-left: 0px;
  }

html, body {
    max-width: -webkit-fill-available;
}

.navbar {
    border-bottom: 1px solid var(--main-color);
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-dark .navbar-toggler {
    border-color: var(--main-color)
}

.navbar-dark .navbar-toggler-icon {
    filter: var(--filters);
}

.logo {
    height: 40px;
}

.about {
    height: 20px;
}

.about-text {
    text-align: left;
}

.modal-content {
    width: 96%;
}

.digitalClock {
    font-size: 16px;
    text-align: center;
    color: var(--main-color);
}

.sensorSimulation {
    font-size: 11px;
    text-align: center;
    color: var(--main-color);
}

.lastEvent {
    font-size: 12px;
    text-align: center;
    color: var(--main-color);
}

.navbar-container {
    max-width: 900px;
}

.content-container {
    max-width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.imgTemperature {
    height: var(--data-img-height); 
    margin-top: var(--data-img-margin-top); 
    margin-left: var(--data-img-margin-left);
    filter: var(--filter-temperature);
}

.imgHumidity {
    height: var(--data-img-height); 
    margin-top: var(--data-img-margin-top); 
    margin-left: var(--data-img-margin-left);
    filter: var(--filter-humidity);
}

.imgPressure {
    height: var(--data-img-height); 
    margin-top: var(--data-img-margin-top); 
    margin-left: var(--data-img-margin-left);
    filter: var(--filter-pressure);
}

.temperature {
    font-size: var(--data-txt-font-size);
    margin-left: var(--data-txt-margin-left);
    color:var(--temperature-color);
}

.humidity {
    font-size: var(--data-txt-font-size);
    margin-left: var(--data-txt-margin-left);
    color:var(--humidity-color);
}

.pressure {
    font-size: var(--data-txt-font-size);
    margin-left: var(--data-txt-margin-left);
    color:var(--pressure-color);
}

.units-data-temperature {
    font-size: 20px;
    color:var(--temperature-color);
}

.units-data-humidity {
    font-size: 20px;
    color:var(--humidity-color);
}

.units-data-pressure {
    font-size: 20px;
    color:var(--pressure-color);
}

.img-data-col {
    max-width: 10px;
}

.noUi-horizontal .noUi-handle {
    border-radius: 15px;
    background: var(--main-color);
    border: none;
    box-shadow: none;
    width: 32px !important;
}

.form-control {
    width: 50%;
}

.form-input-number {
    width: 25%;
}

.stats-table-smaller {
    font-size: 13px;
    padding: 0.1rem;
}


.blink_me {
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {  
    50% { opacity: 0; }
}