.navbar {
    border-bottom: 1px solid var(--main-color);
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-dark .navbar-toggler {
    border-color: var(--main-color)
}

.navbar-dark .navbar-toggler-icon {
    filter: var(--filters);
}

.logo {
    height: 40px;
}

.navbar-container {
    max-width: 900px;
}
